<h2>Validaciones reactivas</h2>
<hr>

<div class="row">
    <div class="col">

        <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="submitFormulario()">  

            <!-- Nombre -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           formControlName="nombre"
                           placeholder="Nombre de usuario">
                    <span class="form-text text-danger" *ngIf="campoNoValido('nombre')">Debe de ser en formato nobre y apellido</span>
                </div>
            </div>

            <!-- Email -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="email"
                           class="form-control"
                           formControlName="email"
                           placeholder="Email de usuario">
                    <span class="form-text text-danger" *ngIf="campoNoValido('email')">{{ emailErrorMsg }}</span>
                    <!-- <span class="form-text text-danger" *ngIf="emailRequired()">El correo es obligatorio.</span>
                    <span class="form-text text-danger" *ngIf="emailFormato()">Debe tener formato email</span>
                    <span class="form-text text-danger" *ngIf="emailTomado()">Ya existe este email</span> --> <!-- Esto tiene demasiada lógica en el html -->
                </div>
            </div>

            <!-- Username -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input type="text"
                           formControlName="username"
                           class="form-control"
                           placeholder="Nick del usuario">
                    <span class="form-text text-danger" *ngIf="campoNoValido('username')">El username es obligatorio.</span>
                </div>
            </div>

            <!-- Password -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input type="password"
                           formControlName="password"
                           class="form-control"
                           placeholder="Password de su cuenta">
                    <span class="form-text text-danger" *ngIf="campoNoValido('password')">La contraseña debe ser mayor a 6 caracteres.</span>
                </div>
            </div>

            <!-- Password confirmar -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Password confirmar</label>
                <div class="col-sm-9">
                    <input type="password"
                           formControlName="password2"
                           class="form-control"
                           placeholder="Confirmar password">
                    <span class="form-text text-danger" *ngIf="campoNoValido('password2')">Las contraseñas deben ser iguales.</span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit"
                            [disabled]="miFormulario.pending"
                            class="btn btn-primary float-end">
                        Crear
                    </button>
                </div>
            </div>

        </form>

    </div>
</div>


<h2>Form valid: {{miFormulario.valid }}</h2>
<hr>
<h2>Form status: {{miFormulario.status }}</h2>
<hr>
<h2>Form errors: {{miFormulario.errors | json }}</h2>
<hr>


<h5>Nombre</h5>
<pre>{{ miFormulario.controls['nombre'].errors | json }}</pre>

<h5>Email</h5>
<pre>{{ miFormulario.controls['email'].errors | json }}</pre>

<h5>Username</h5>
<pre>{{ miFormulario.controls['username'].errors | json }}</pre>

<h5>Password</h5>
<pre>{{ miFormulario.controls['password'].errors | json }}</pre>

<h5>Password2</h5>
<pre>{{ miFormulario.controls['password2'].errors | json }}</pre>